<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="third" android:versionCode="6" package="com.jam.apks.sample">
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
  <application android:label="APK Expansion Sample" android:icon="@drawable/ic_launcher">
    <provider android:name="system.io.compression.zip.tests.ZipFileContentProvider"
          android:authorities="system.io.compression.zip.tests.ZipFileContentProvider"></provider>
  </application>
</manifest>