<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionName="second" android:versionCode="4" package="com.jam.apks.sample">
  <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="14" />
  <application android:label="APK Expansion Sample" android:icon="@drawable/ic_launcher">
  </application>
</manifest>