<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.jamwarehouse.licensing.tests" android:versionCode="1" android:versionName="first">
  <uses-sdk android:targetSdkVersion="8" />
  <application android:label="Play Licensing Sample">
  </application>
</manifest>