<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.jam.test.zipfile" android:versionCode="12" android:versionName="Cool Version">
  <uses-sdk android:targetSdkVersion="8" />
  <application android:label="Zip File Test">

    <provider android:name="system.io.compression.zip.tests.ZipFileContentProvider"
              android:authorities="system.io.compression.zip.tests.ZipFileContentProvider"></provider>
    
  </application>
</manifest>